.authors {
  font-size: 21px;
  color: #ccc;
}

.slide {
  color: #231F20; 
  font-family: sans-serif;
}

.title {
  background-color: #FFF200;
  color: #2E3192;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  width: 750px;
  font-weight: 900;
}

.first-slide .title {
  background-color: #463C7D;
  color: #FFF200;
  font-weight: 900;
}

.first-slide {
  background-color: #463C7D;
}

